---
import '@/styles/base.css'
import '@/styles/elements.css'
import '@/styles/fonts.css'
import '@/styles/reset.css'
import '@/styles/vars.css'
import SpeedInsights from '@vercel/speed-insights/astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
	title: string
	url?: string
	desc?: string
	image?: string
}

const { title, desc, url = Astro.url, image = '/images/og.jpg' } = Astro.props
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<!-- фикс автоподсветки номеров в сафари -->
	<meta name="format-detection" content="telephone=no" />
	<!-- фавиконка -->
	<link rel="icon" href="/favicon/favicon-48x48.png" sizes="48x48" type="image/png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
	<link rel="manifest" href="/favicon/manifest.webmanifest" />
	<!-- мета-данные -->
	<title>{title}</title>
	<meta property="og:site_name" content="Алексей Калинин" />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={desc} />
	<meta property="og:url" content={url} />
	<meta property="og:image" content={image} />
	<meta property="twitter:image" content={image} />
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:title" content={title} />
	<meta property="twitter:description" content={desc} />
	<meta name="description" content={desc} />
	<!-- шрифты -->
	<link rel="preload" href="/fonts/SuisseIntl-Book.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="/fonts/JetBrainsMono.woff2" as="font" type="font/woff2" crossorigin />
	<!-- пасхалка -->
	<script src="@/scripts/love.js"></script>
	<!-- остальное -->
	<ViewTransitions fallback="swap" />
	<SpeedInsights />
</head>
