---
import getVideo from '@/scripts/getters/get-video'
import type { Video } from '@/types'
import type { ImageMetadata } from 'astro'
import { Icon } from 'astro-icon/components'
import ButtonLink from './ButtonLink.astro'

type Props = Video

const { autoplay, paused, lazy, controls, width, height, sources, ...props } = Astro.props

const preparedSources = sources ? getVideo(sources) : null

const poster = (preparedSources?.[0] as unknown as ImageMetadata)?.src
const h264 = preparedSources?.[1]
const h265 = preparedSources?.[2]
---

<script>
	const videoPlayers = document.querySelectorAll('[data-videoplayer]')
	const lazyVideos = document.querySelectorAll('[data-lazy-video] video')

	if (videoPlayers) {
		videoPlayers.forEach((player: HTMLDivElement) => {
			const video = player.querySelector('video') as HTMLVideoElement
			const playButton = player?.querySelector('.btn__play') as HTMLButtonElement

			video.addEventListener('waiting', () => showSpinner(player))
			video.addEventListener('playing', () => removeSpinner(player))

			if (playButton) {
				video.addEventListener('play', () => togglePlay(playButton, player))
				video.addEventListener('pause', () => togglePause(playButton, player))
				video.addEventListener('ended', () => togglePause(playButton, player))

				playButton.addEventListener('click', () => {
					if (video.paused) {
						video.play()
					} else {
						video.pause()

						setTimeout(() => {
							player.dataset.videoplayer = 'forced-paused'
						}, 10)
					}
				})
			}
		})

		const togglePlay = (btn: HTMLButtonElement, player: HTMLDivElement) => {
			player.dataset.videoplayer = 'played'
			btn.setAttribute('aria-label', 'Поставить видео на паузу')

			removeSpinner(player)
		}

		const togglePause = (btn: HTMLButtonElement, player: HTMLDivElement) => {
			player.dataset.videoplayer = 'paused'
			btn.setAttribute('aria-label', 'Включить видео')

			removeSpinner(player)
		}

		const showSpinner = (player: HTMLDivElement) => {
			const spinner = player.querySelector('.spinner')
			if (spinner) return

			const newSpinner = document.createElement('div')
			newSpinner.classList.add('spinner')
			player.appendChild(newSpinner)
		}

		const removeSpinner = (player: HTMLDivElement) => {
			const spinner = player.querySelector('.spinner')
			if (spinner) spinner.remove()
		}
	}

	if (lazyVideos) {
		const options = {
			rootMargin: '-50% 0%',
			threshold: 0,
		}

		// check video within viewport
		const observer = new IntersectionObserver(function (entries) {
			entries.forEach(entry => {
				const video = entry.target as HTMLVideoElement
				const player = video.parentElement
				const state = player.dataset.videoplayer

				if (entry.isIntersecting && state !== 'forced-paused') {
					video.play()
				} else {
					video.pause()
				}
			})
		}, options)

		// initial loading
		const observerinit = new IntersectionObserver(function (entries, observerinit) {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					const video = entry.target as HTMLVideoElement
					video.load()

					observerinit.unobserve(video)
					observer.observe(video)
				}
			})
		}, options)

		lazyVideos.forEach(video => {
			observerinit.observe(video)
		})
	}
</script>

<div
	class="video-container"
	data-videoplayer={lazy ? 'paused' : paused ? 'forced-paused' : 'played'}
	data-lazy-video={lazy}
>
	<video
		{poster}
		autoplay={autoplay && !lazy}
		muted={autoplay}
		loop={autoplay}
		preload={(paused || lazy) && 'none'}
		playsinline
		style={'aspect-ratio: ' + width + '/' + height}
		{...props}
	>
		<slot />
		{h265 && <source src={h265} type="video/mp4" />}
		{h264 && <source src={h264} type="video/mp4" />}
		Ваш браузер не поддерживает встроенные видео :(
	</video>

	{
		!controls && (
			<ButtonLink
				class="btn btn--secondary btn--only-icon btn__play"
				aria-label={paused || lazy ? 'Включить видео' : 'Поставить видео на паузу'}
			>
				<Icon name="play-icon" class="icon icon--play" aria-hidden="true" />
				<Icon name="pause-icon" class="icon icon--pause" aria-hidden="true" />
			</ButtonLink>
		)
	}
</div>

<style>
	.video-container {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		border-radius: var(--br-md);
		overflow: hidden;

		&::after {
			position: absolute;
			inset: 0;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.03);
			border-radius: inherit;
			pointer-events: none;
			content: '';
		}

		&[data-videoplayer='paused'] .icon--play,
		&[data-videoplayer='forced-paused'] .icon--play {
			display: block;
		}

		&[data-videoplayer='played'] .icon--pause {
			display: block;
		}

		@media (width <= 880) {
			border-radius: var(--br-primary);
		}
	}

	.btn__play {
		--margin: 16px;

		position: absolute;
		right: var(--margin);
		bottom: var(--margin);
		z-index: 1;
		box-shadow: var(--shadow-sm);

		.icon {
			display: none;
		}

		@media (width <= 880) {
			--margin: 8px;

			padding: 16px !important;
		}
	}

	video {
		display: flex;
		border-radius: var(--br-md);
		background-color: var(--bg-placeholder);
		width: 100%;
	}
</style>
