---
import { Icon } from 'astro-icon/components'
import type { HTMLAttributes } from 'astro/types'
import ButtonLink from './ButtonLink.astro'

interface Props extends HTMLAttributes<'video'> {
	title?: string
	autoplay?: boolean
	width?: number
	height?: number
}

const { title, autoplay, width, height, ...props } = Astro.props
---

<script>
	const videoPlayers = document.querySelectorAll('[data-autoplayer]')
	if (videoPlayers) {
		videoPlayers.forEach((videoPlayer: HTMLDivElement) => {
			const video = videoPlayer.querySelector('video') as HTMLVideoElement
			const playButton = videoPlayer.querySelector('.btn__play') as HTMLButtonElement

			video.addEventListener('play', () => togglePlay(playButton, videoPlayer))
			video.addEventListener('pause', () => togglePause(playButton, videoPlayer))
			video.addEventListener('ended', () => togglePause(playButton, videoPlayer))
			video.addEventListener('waiting', () => showSpinner(videoPlayer))
			video.addEventListener('playing', () => removeSpinner(videoPlayer))

			playButton.addEventListener('click', () => {
				if (video.paused) video.play()
				else video.pause()
			})
		})

		const togglePlay = (btn: HTMLButtonElement, player: HTMLDivElement) => {
			player.dataset.autoplayer = 'played'
			btn.setAttribute('aria-label', 'Поставить видео на паузу')

			removeSpinner(player)
		}

		const togglePause = (btn: HTMLButtonElement, player: HTMLDivElement) => {
			player.dataset.autoplayer = 'paused'
			btn.setAttribute('aria-label', 'Включить видео')

			removeSpinner(player)
		}

		const showSpinner = (player: HTMLDivElement) => {
			const spinner = player.querySelector('.spinner')
			if (spinner) return

			const newSpinner = document.createElement('div')
			newSpinner.classList.add('spinner')
			player.appendChild(newSpinner)
		}

		const removeSpinner = (player: HTMLDivElement) => {
			const spinner = player.querySelector('.spinner')
			if (spinner) spinner.remove()
		}
	}
</script>

{
	title ? (
		<figure>
			<div class="video-container" data-autoplayer="played">
				<video
					{...props}
					{autoplay}
					muted={autoplay}
					loop={autoplay}
					playsinline={autoplay}
					style={'aspect-ratio: ' + width + '/' + height}
				>
					<slot />
					Ваш браузер не поддерживает встроенные видео :(
				</video>

				{autoplay && (
					<ButtonLink class="btn btn--secondary btn--only-icon btn__play" aria-label="Поставить видео на паузу">
						<Icon name="play-icon" class="icon icon--play" aria-hidden="true" />
						<Icon name="pause-icon" class="icon icon--pause" aria-hidden="true" />
					</ButtonLink>
				)}
			</div>
			<figcaption>{title}</figcaption>
		</figure>
	) : (
		<div class="video-container" data-autoplayer="played">
			<video
				{...props}
				{autoplay}
				muted={autoplay}
				loop={autoplay}
				playsinline={autoplay}
				style={'aspect-ratio: ' + width + '/' + height}
			>
				<slot />
				Ваш браузер не поддерживает встроенные видео :(
			</video>

			{autoplay && (
				<ButtonLink class="btn btn--secondary btn--only-icon btn__play" aria-label="Поставить видео на паузу">
					<Icon name="play-icon" class="icon icon--play" aria-hidden="true" />
					<Icon name="pause-icon" class="icon icon--pause" aria-hidden="true" />
				</ButtonLink>
			)}
		</div>
	)
}

<style>
	.video-container {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;

		&[data-autoplayer='paused'] .icon--play {
			display: block;
		}

		&[data-autoplayer='played'] .icon--pause {
			display: block;
		}
	}

	.btn__play {
		--margin: 16px;

		position: absolute;
		right: var(--margin);
		bottom: var(--margin);
		z-index: 1;

		.icon {
			display: none;
		}
	}

	video {
		display: flex;
		border-radius: var(--br-md);
		background-color: var(--bg-placeholder);
		width: 100%;

		@media (width <= 880) {
			border-radius: var(--br-primary);
		}
	}
</style>
