---
import type { ImageMetadata } from 'astro'
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'

interface Props {
	title: string
	href: string | URL
	cover: ImageMetadata
	color?: string
	class?: string
}

const { title, href, cover, color, class: className, ...props } = Astro.props
---

<article
	class:list={['next-card', { 'next-card--project': color }, className]}
	style={'--cover-color: ' + '#' + color}
	{...props}
>
	<div class="next-card__inner">
		<div class="next-card__info">
			<span class="text-h2 next-card__subtitle">Читайте также</span>
			<h2 class="text-h3 next-card__title">
				<a class="next-card__link" {href}>
					{title}
				</a>
			</h2>
		</div>
		<div class="page-icon next-card__page-icon">
			<Icon name="arrow-right-icon" class="icon" aria-hidden="true" />
		</div>
	</div>
	<div class="next-card__cover-container">
		<Picture
			class="next-card__cover"
			src={cover}
			alt="Обложка страницы"
			formats={['avif', 'webp']}
			width={cover.width}
			height={cover.height}
		/>
	</div>
</article>

<style>
	.next-card {
		display: grid;
		position: relative;
		grid-template-columns: 1fr minmax(320px, 1fr);
		border: 1px solid var(--border-secondary);
		border-radius: var(--br-xl);
		background-color: var(--bg-primary);
		padding: 24px;

		@media (hover) {
			&:hover {
				.next-card__cover {
					transform: scale(1.1);
				}
			}
		}

		&:active {
			.next-card__cover {
				transform: scale(1.15);
			}
		}

		@media (width <= 880) {
			grid-template-columns: 1fr;
			border-radius: var(--br-lg);
			padding: 8px 8px 24px;
		}
	}

	.next-card--project {
		.next-card__cover-container {
			background-color: var(--cover-color);
		}

		.next-card__cover {
			transform: scale(0.8);

			@media (width <= 880) {
				transform: scale(0.9);
			}
		}

		@media (hover) {
			&:hover {
				.next-card__cover {
					transform: scale(0.9);
				}
			}
		}

		&:active {
			.next-card__cover {
				transform: scale(0.95);
			}
		}
	}

	.next-card__inner {
		display: flex;
		padding-inline-start: 16px;
		padding-inline-end: 24px;
		padding-block-start: 32px;
		padding-block-end: 24px;

		@media (width <= 880) {
			--padding-inline: 8px;

			padding-inline: var(--padding-inline);
			padding-block: 0;
		}
	}

	.next-card__info {
		display: flex;
		flex-direction: column;
	}

	.next-card__subtitle {
		margin-block-end: 16px;

		@media (width <= 880) {
			margin-block-end: 8px;
		}
	}

	.next-card__title {
		max-width: 340px;

		@media (width <= 880) {
			max-width: 250px;
		}
	}

	.next-card__page-icon {
		margin-block-start: auto;
	}

	.next-card__link {
		touch-action: none;

		&::after {
			position: absolute;
			z-index: 1;
			inset: 0;
			content: '';
		}
	}

	.next-card__cover-container {
		border-radius: var(--br-primary);
		overflow: hidden;

		@media (width <= 880) {
			order: -1;
			margin-block-end: 24px;
			margin-block-end: 20px;
		}
	}

	.next-card__cover {
		display: flex;
		transition: transform var(--tr-primary);
		width: 100%;
		pointer-events: none;
	}
</style>
