---
import type { ImageMetadata } from 'astro'
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'

interface Props {
	title: string
	href: string | URL
	cover: ImageMetadata
}

const { title, href, cover } = Astro.props
---

<article class="next-card">
	<div class="next-card__info">
		<span class="text-h2 next-card__subtitle">Читайте также</span>
		<h2 class="text-h3 next-card__title">
			<a class="next-card__link" {href}>
				{title}
			</a>
		</h2>
		<div class="next-card__icon">
			<Icon name="arrow-right-icon" class="icon" aria-hidden="true" />
		</div>
	</div>
	<div class="next-card__cover">
		<Picture
			class="next-card__image"
			src={cover}
			alt="Обложка страницы"
			formats={['avif', 'webp']}
			width={cover.width}
			height={cover.height}
		/>
	</div>
</article>

<style>
	.next-card {
		display: grid;
		position: relative;
		grid-template-columns: 1fr 400px;
		gap: 24px;
		border: 1px solid var(--border-secondary);
		border-radius: var(--br-xl);
		background-color: var(--bg-primary);
		padding: 24px;

		@media (hover) {
			&:hover {
				.next-card__image {
					transform: scale(1.15);
				}
			}
		}
	}

	.next-card__info {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-inline-start: 16px;
		padding-block-start: 32px;
		padding-block-end: 24px;
	}

	.next-card__subtitle {
	}

	.next-card__title {
	}

	.next-card__link {
		&::after {
			position: absolute;
			inset: 0;
			content: '';
		}
	}

	.next-card__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-inline-start: auto;
		margin-block-start: auto;
		border: 1px solid var(--border-primary);
		border-radius: 24px;
		padding-inline: 12px;
		padding-block: 4px;
		color: var(--text-primary-0);
	}

	.next-card__cover {
		border-radius: var(--br-primary);
		overflow: hidden;
	}

	.next-card__image {
		display: flex;
		transition: transform 0.3s ease;
		pointer-events: none;
	}
</style>
