---
import type { ImageMetadata } from 'astro'
import { Icon } from 'astro-icon/components'
import { Image, Picture } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
	project: CollectionEntry<'projects'>
}

const { project } = Astro.props

// images
const coverImage = project.data.cover as ImageMetadata
const additionalImage = project.data.additional_image as ImageMetadata
const placeWorkLogo = project.data.place_work.logo as ImageMetadata

// video
const allVideosMP4 = import.meta.glob('/src/content/projects/media/**/**/*.mp4', {
	eager: true,
})

const allVideosWEBM = import.meta.glob('/src/content/projects/media/**/**/*.webm', {
	eager: true,
})

const coverVideoMP4 = Object.entries(allVideosMP4)
	.filter((video: any) => {
		return video[0].includes(project.data.video_cover?.mp4.slice(1))
	})
	.map((video: any) => video[1].default) as unknown as string

const coverVideoWEBM = Object.entries(allVideosWEBM)
	.filter((video: any) => {
		return video[0].includes(project.data.video_cover?.mp4.slice(1))
	})
	.map((video: any) => video[1].default) as unknown as string

// todo: добавить более кастомный вывод альтов для обложки
---

<article class="project-page" style={'--cover-color: ' + '#' + project.data.color}>
	<div class="project-page__cover">
		{
			coverVideoMP4.length > 0 ? (
				<video
					class="project-page__image"
					poster={coverImage.src}
					autoplay
					preload="auto"
					loop
					muted
					playsinline
					width={728}
					height={481}
				>
					<source src={coverVideoMP4} type="video/mp4" />
					<source src={coverVideoWEBM} type="video/webm" />
				</video>
			) : (
				<Picture
					class="project-page__image"
					src={coverImage}
					alt=""
					formats={['avif', 'webp']}
					width={728}
					height={481}
				/>
			)
		}
	</div>

	<Picture
		class="project-page__add-image"
		src={additionalImage}
		alt=""
		formats={['avif', 'webp']}
		width={additionalImage.width}
		height={additionalImage.height}
	/>

	<div class="project-page__content">
		<h2 class="text-h3-small project-page__title">
			<a href={'/projects/' + project.slug} class="project-page__link">
				{project.data.name}
			</a>
		</h2>
		<p class="project-page__description">{project.data.desc}</p>
		<div class="project-page__meta">
			<div class="project-page__place">
				<Image class="project-page__place-logo" src={placeWorkLogo} alt="" />
				<span class="project-page__place-name">{project.data.place_work.name}</span>
			</div>
			<span class="project-page__year">{project.data.year}</span>
			<div class="project-page__icon">
				<Icon name="arrow-right-icon" class="icon" aria-hidden="true" />
			</div>
		</div>
	</div>
</article>

<style>
	.project-page {
		display: flex;
		position: relative;
		flex-direction: column;
		border: 1px solid var(--border-secondary);
		border-radius: var(--br-xl);
		background-color: var(--bg-primary);
		padding: 24px 24px 32px;
		width: 100%;

		@media (hover) {
			&:hover {
				.project-page__image {
					transform: scale(1);
				}
			}
		}
	}

	.project-page__cover {
		margin-block-end: 24px;
		border-radius: var(--br-primary);
		background-color: var(--cover-color);
		width: 100%;
		overflow: hidden;
	}

	.project-page__image {
		display: flex;
		transform: scale(0.85);
		transition: transform 0.3s ease;
		background-color: var(--bg-secondary);
		width: 100%;
		pointer-events: none;
	}

	.project-page__add-image {
		display: flex;
		position: absolute;
		right: -130px;
		bottom: 120px;
	}

	.project-page__content {
		display: flex;
		flex-direction: column;
		padding-inline: 8px;
	}

	.project-page__title {
		margin-block-end: 8px;
	}

	.project-page__link {
		color: currentcolor;

		&::after {
			position: absolute;
			inset: 0;
			content: '';
		}
	}

	.project-page__description {
		margin-block-end: 16px;
		max-width: 580px;
	}

	.project-page__meta {
		display: flex;
		align-items: center;
		font-size: var(--font-sm);
		line-height: var(--lh-lg);
		font-family: var(--ff-secondary);
	}

	.project-page__place {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-inline-end: 16px;
	}

	.project-page__place-logo {
		--size: 24px;

		border: 1px solid var(--border-secondary);
		border-radius: 100%;
		width: var(--size);
		height: var(--size);
	}

	.project-page__place-name {
		color: var(--text-primary-0);
		font-weight: 500;
	}

	.project-page__year {
		color: var(--text-secondary-0);
		font-weight: 400;
	}

	.project-page__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-inline-start: auto;
		border: 1px solid var(--border-primary);
		border-radius: 24px;
		padding-inline: 12px;
		padding-block: 4px;
		color: var(--text-primary-0);
	}
</style>
