---
import AboutCover from '@/assets/about-cover.jpg'
import Head from '@/components/Head.astro'
import ContentList from '@/components/molecules/ContentList.astro'
import Footer from '@/components/organisms/Footer.astro'
import Header from '@/components/organisms/Header.astro'
import Hero from '@/components/organisms/Hero.astro'
import NextCard from '@/components/organisms/NextCard.astro'
import Sidebar from '@/components/organisms/Sidebar.astro'
import getProjects from '@/scripts/getters/get-projects'
import type { ImageMetadata } from 'astro'

type Page = {
	title: string
	desc?: string
	image?: string
	hero?: {
		title: string
		title_secondary?: string
		desc?: string
	}
}

interface Props extends Page {
	frontmatter?: Page
}

const { frontmatter, title = frontmatter.title, desc = frontmatter?.desc, image, hero } = Astro.props

const projects = await getProjects()
const lastProject = projects.sort((a, b) => b.data.year - a.data.year)[0]
const siteTitle = Astro.url.pathname === '/' ? title : title + ' — Алексей Калинин'
---

<html lang="ru" class="page">
	<Head title={siteTitle} {desc} {image} />
	<body class="page__body">
		<div class="site-container">
			<Header />
			<div class="base">
				<div class="container">
					<div class="base__inner grid grid--page">
						<Sidebar />
						<main class="main base__main">
							<Hero
								class="base__hero"
								title={hero?.title || title}
								title_secondary={hero?.title_secondary}
								desc={hero?.desc || desc}
							/>

							<ContentList class="base__list" tag="div">
								<slot />

								{
									Astro.url.pathname === '/' ? (
										<NextCard title="Обо мне" href="/about" cover={AboutCover} />
									) : (
										<NextCard
											title={lastProject.data.name}
											cover={lastProject.data.cover.img as ImageMetadata}
											color={lastProject.data.color}
											href={'/' + lastProject.collection + '/' + lastProject.slug}
										/>
									)
								}
							</ContentList>
						</main>
					</div>
				</div>
			</div>
			<Footer />
		</div>
	</body>
</html>

<style>
	.base__main {
		width: 100%;

		@media (width <= 1200) {
			padding-block-start: 56px;
		}

		@media (width <= 880) {
			padding-block-start: 24px;
		}
	}

	.footer {
		@media (width <= 880) {
			padding-block-end: calc(64px + 48px);
		}
	}
</style>
