---
import ContentList from '@/components/atoms/ContentList.astro'
import Head from '@/components/Head.astro'
import Footer from '@/components/organisms/Footer.astro'
import Header from '@/components/organisms/Header.astro'
import Hero from '@/components/organisms/Hero.astro'
import Sidebar from '@/components/organisms/Sidebar.astro'

type Page = {
	title: string
	desc?: string
	image?: string
	hero?: {
		title: string
		title_secondary?: string
		desc?: string
	}
}

interface Props extends Page {
	frontmatter?: Page
}

const {
	frontmatter,
	title = frontmatter.title,
	desc = frontmatter?.desc,
	image,
	hero = {
		title: title,
		title_secondary: null,
		desc: desc,
	},
} = Astro.props
---

<html lang="ru" class="page">
	<Head {title} {desc} {image} />
	<body class="page__body">
		<div class="site-container">
			<Header />
			<div class="base">
				<div class="container container--main">
					<Sidebar />
					<main class="main base__main">
						<Hero class="base__hero" title={hero.title} title_secondary={hero.title_secondary} desc={hero.desc} />
						<ContentList class="base__list" tag="div">
							<slot />
						</ContentList>
					</main>
				</div>
			</div>
			<Footer />
		</div>
	</body>
</html>
