---
import h264_fixed from '@/assets/test/about_video_fixed.mp4'
import h264_an from '@/assets/test/about_video_h264_an.mp4'
import h264_high from '@/assets/test/about_video_h264_high.mp4'
import h264_mix from '@/assets/test/about_video_h264_mix.mp4'
import h264_mp3 from '@/assets/test/about_video_h264_mp3.mp4'
import h264_tag from '@/assets/test/about_video_h264_tag.mp4'
import h265_an from '@/assets/test/about_video_h265_an.mp4'
import h265_mp3 from '@/assets/test/about_video_h265_mp3.mp4'
import h265_tag from '@/assets/test/about_video_h265_tag.mp4'
import webm from '@/assets/test/about_video_vp9.webm'
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout title="Видео" desc="Видео проектов">
	<div class="list">
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h264_fixed} type="video/mp4" />
			</video>
			<figcaption>h264 video with fixed meta</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h264_mp3} type="video/mp4" />
			</video>
			<figcaption>h264 video with mp3 audio</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h265_mp3} type="video/mp4" />
			</video>
			<figcaption>h265 video with mp3 audio</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h264_an} type="video/mp4" />
			</video>
			<figcaption>h264 without audio</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h265_an} type="video/mp4" />
			</video>
			<figcaption>h265 without audio</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h264_tag} type="video/mp4" />
			</video>
			<figcaption>h264 tagged</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h265_tag} type="video/mp4" />
			</video>
			<figcaption>h265 tagged</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h264_high} type="video/mp4" />
			</video>
			<figcaption>h264 high profile</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={h264_mix} type="video/mp4" />
			</video>
			<figcaption>h264 mixed</figcaption>
		</figure>
		<figure>
			<video width="720" height="720" controls playsinline>
				<source src={webm} type="video/webm" />
			</video>
			<figcaption>webm</figcaption>
		</figure>
	</div>
</MainLayout>

<style>
	.list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 16px;
	}
</style>
